
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/02/2014, 15:25:07
    Author     : HELDER
*/

/*  Diretivas gerais */
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/*  Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption	{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q {	quotes:none; }
:focus { outline:0; }
ins { text-decoration:none; }
del { text-decoration:line-through; }

/*	HTML5 */
header, nav, footer, section, article, aside { display:block; font-family: 'Nunito', sans-serif; font-weight: 300; }

/*  Classes de uso comum */
.wrapper { width:1000px; margin:0 auto; padding:0 0px; font-family: 'Nunito', sans-serif; }
.clear { clear:both; }
.left { float:left; }
.right { float:right; }
.imgLeft { float:left; margin-right:40px; }
.imgRight { float:right; margin-left:40px; }
.imgLeft, .imgRight { margin-bottom:30px; }

/*	CSS Sprite */	
//header h1 a, header h2, footer .logoGPA a{ background:url(../imagem/sprite.png) no-repeat; display:block; }
//header h1 a, header h2, footer .logoGPA a { text-indent:-99999px; }
// header h1 a { background: url(../imagens/sprite.png) no-repeat; display: block; }
//header h1 a { text-indent: -99999px; }


/*	Body */
body { border-top:40px solid #000; background: url(../imagens/fundo_mao.png) 0px 60px; font-family: 'Nunito', sans-serif; }


/*	Header */

div#section_home { background: #E9556A url(../imagens/linha_maos_superior.png) center no-repeat; width: 100%; height: 40px; }                                
header h1 { text-indent: -99999px; }
//header h1#titulo { background: url(../imagens/titulo.png) right no-repeat; width: 677px; height: 332px; }
header h1 a { background: url(../imagens/home5.png) left no-repeat; display: block; width: 981px; height: 524px; margin-top: 20px; margin-left: 20px;}
//header h1 a#titulo { background: url(../imagens/titulo.png) right no-repeat; display: block; width: 600px; height: 332px; margin-top: 125px; float: right;}
header nav#redes { clear: both; float: right; }
header nav#redes ul li { float: right; }
header nav#redes ul li a { display:block; width:40px; height:40px; text-indent:-99999px; margin-top: -60px; }
header nav#redes ul li a#instagram { background: url(../imagens/icone_instagram.png) no-repeat; margin-right: 150px; }                              
header nav#redes ul li a#twitter { background: url(../imagens/icone_twitter.png) no-repeat; margin-right: 100px;}
header nav#redes ul li a#youtube { background: url(../imagens/icone_youtube.png) no-repeat; margin-right: 50px; }
header nav#redes ul li a#facebook { background: url(../imagens/icone_facebook.png) no-repeat; margin-right: 0px; }
header nav#redes ul li a#instagram:hover, header nav#redes ul li a#twitter:hover, header nav#redes ul li a#youtube:hover, header nav#redes ul li a#facebook:hover { opacity: 0.6; }                

header nav#menu { position: relative; float: right; margin-right: 70px; margin-top: -160px;}
header nav#menu ul li { float: left; margin-right: 15px; background: url(../imagens/caveira.png) right no-repeat; width: 92px; height: 120px; }
header nav#menu ul li a { text-decoration: none; margin-top: 47px; position: absolute; font-size: 27px; color: #000; /*text-indent: -99999px;*/ }
header nav#menu ul li a#home { margin-left: 15px; }                                
header nav#menu ul li a#perfil { margin-left: 15px;}                
header nav#menu ul li a#loja { margin-left: 25px;}                
header nav#menu ul li a#portfolio { margin-left: 4px; font-size: 24px; margin-top: 50px;}                
header nav#menu ul li a#contato { margin-left: 7px; font-size: 25px; margin-top: 50px;}                
header nav#menu ul li a#anuncie { margin-left: 7px; font-size: 25px; margin-top: 50px;}

section.wrapper { /*padding-top: 40px; /*padding-bottom: 20px;*/ }         
section.wrapper div.texto article { float: left; width: 470px;  text-align: justify; margin-left: 25px; }
section.wrapper div.texto article h3 { font-size: 20px; font-weight: bold; font-weight: 700; }


div#apresentacao_home { background: url(../imagens/apresentacao-home2.jpg) no-repeat; height: 800px; width:1000px; margin:0 auto; padding:0 0px; }
div#apresentacao_home h2 { font-size: 50px; color: #E9556A; text-align: center; padding-top: 20px; }


/*      Perfil*/

img#perfil1 { float: left; }
div.perfil1 p { font-size: 25px; color: #E9556A; text-align: center; line-height: 40px; margin-top: 0px; width: 300px;margin-left: 80px;}
div.perfil1 p#nome { margin-top: 70px; width: 400px; margin-left: 30px; }
img#perfil2 { float: right; margin-top: -60px; z-index: -1; position: relative; }
div.perfil2 p { font-size: 25px; color: #FFF; text-align: center; line-height: 40px; margin-top: 40px; width: 300px; margin-left: 75px; }

/*      Formulário Contato - modelo 2*/

div#fundoContato { background-color: #E9556A; width: 100%; height: 100% }
div.texto { color: #FFF; width: 450px; float: left; margin-left: 20px; padding-bottom: 20px; }
//div.texto p { width: 450px; }
div.texto h2 { font-size: 25px; color: #FFF; margin-bottom: 30px;  margin-top: 40px; }
div.texto form { width: 450px; padding-bottom: 20px; margin-top: 20px; font-size: 20px; margin-left: 0px; }
div.texto form fieldset label { display: block; clear: both; color: #FFF; font-weight: 400; margin-top: 20px; line-height: 1.5; }
div.texto form fieldset input[type = text] { float: right; font-size: 17px; font-family: 'Nunito', sans-serif; color: #E9556A; border: none; height: 45px; border-radius: 7px; -webkit-border-radius: 7px; box-shadow: 5px 5px 10px #333; -webkit-box-shadow: 5px 5px 10px #333; -moz-box-shadow: 5px 5px 10px #333; width: 310px; height: 35px; }
div.texto form fieldset select { border: none; float: right; font-size: 15px; font-family: 'Nunito', sans-serif; color: #E9556A; border-radius: 7px; -webkit-border-radius: 7px; box-shadow: 5px 5px 10px #333; -webkit-box-shadow: 5px 5px 10px #333; -moz-box-shadow: 5px 5px 10px #333; width: 310px; height: 35px; }
div.texto form fieldset textarea {  width: 310px; float: right; font-family: 'Nunito', sans-serif; color: #E9556A; border: none; font-size: 15px; box-shadow: 5px 5px 10px #333; -webkit-box-shadow: 5px 5px 10px #333; -moz-box-shadow: 5px 5px 10px #333; border-radius: 7px; -webkit-border-radius: 7px; }
div.texto form input[type = submit] { float: right; border: none; margin-right: 0px; cursor: pointer; background-color: #FFF; color: #E9556A; height: 30px; }

/* Mensagem de erro de validação do formulário pelo Validate */
#formContato label.error, #formContato input.submit { font-size: 15px; color: #FFFF00; font-weight: 700; float: right; }
/* Recaptcha */                                                      
div.texto form div#recaptcha_area { margin-left: 135px; }

div#embreve.texto { width: 370px; float: right; margin-right: 20px; }
div#embreve.texto hr { width: 370px; height: 5px; background-color: #E9556A; box-shadow: 5px 5px 10px #333; -webkit-box-shadow: 5px 5px 10px #333; -moz-box-shadow: 5px 5px 10px #333; float: bottom; clear: both; border: none; margin-left: 0; }
div#embreve.texto div#embreveContato { width: 370px; height: 270px; background: url(../imagens/embreve-contato2.png) no-repeat; float: right; margin-top: 40px; }
div#embreve.texto div#embreveContato p { width: 140px; height: 260px; text-align: right; font-size: 25px; float: right; line-height: 1.3; }

div#erro404 { background-color: #000; width: 100%; height: 100%; }
div#fantasma { background: url(../imagens/erro4042.png) no-repeat; width: 828px; height: 520px; margin: 0 auto; padding: 0 0px; margin-top: 40px; margin-bottom: 20px; }

div#construcao { background: url(../imagens/em-construcao.png) no-repeat; width: 550px; height: 524px; margin-left: 220px; margin-top: 40px; }

/*	Footer */       

footer { background-color: /*#E9556A*/ #000; padding-top: 35px; margin-bottom: 0px; }                
footer address { font-size: 12px; color: #FFF; line-height: 15px; clear: both;  padding-top: 10px; margin-left: 20px; padding-bottom: 5px; }
footer div#assinatura_rodape { background: url(../imagens/assinatura_rodape.png) right no-repeat; height: 41px; width: 180px; float: right; margin-top: -60px; margin-right: 70px;}
footer p { font-size: 12px; color: #FFF; float: right; margin-right: 60px; margin-top: -17px; }
//footer div { background: #E9556A url(../imagens/cartoon_rodape.png) right no-repeat ; height: 59px; width: 35px; }
footer div#cartoon_rodape { background: url(../imagens/cartoon_rodape.png) right no-repeat ; height: 59px; width: 35px; float: right; margin-right: 20px; margin-top: -59px;}

/*      Portifólio*/

ul.thumbs {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.thumbs li {
    display: inline-block;
    height: 270px; //regula altura das imagens na capa do portifólio
    overflow: hidden;
    padding: 0;
    float: left;
    position: relative;
}

ul.thumbs li a.thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cecece;
    background-position-x: 50%;
    display: block;	
    box-sizing: border-box;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 9;
    width: 100%;
    height: 100%;
}

ul.thumbs li a.thumbnail h4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 10px;
    text-transform: uppercase;
    background-color: #efefef;
    color: #6b6b6b;
    font-size: 14px;
    margin: 0;
}

ul.thumbs li a.thumbnail .description {
    padding: 0;
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    box-sizing: inherit;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    //color: #333333;
    color: #FFF;
    //background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    padding: 18px 12px;
    line-height: 10px;
    box-sizing: inherit;
    text-align: center;
}

ul.thumbs li a.thumbnail .active-arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
    bottom: -2px;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 970px){
    ul.thumbs li {
        width: 50% !important;
    }
    .media iframe{
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 970px) {
    ul.thumbs li {
        width: 33.3333% !important;
    }
}

ul.thumbs li a.thumbnail:hover .description {
    height: 50px;
    opacity: 1;
}

ul.thumbs li.content {
    width: 100% !important;
    display: none;
    margin-bottom: 40px;
    background: none;
    float: left;
    //height: 250px;
    height: 100%;
    position: relative;
    padding: 45px 0 45px;
}

ul.thumbs li.content h3 {
    display: inline-block;
}

ul.thumbs li.content .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #c2c2c2;
    cursor: pointer;
    font-weight: normal;
    font-family: -webkit-pictograph;
    font-size: 76px;
    line-height: 70px;    
}

ul.thumbs li.content .close:hover {
    opacity: 0.7;    
}

ul.thumbs li.content .media {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 50%;
    min-height: 200px;
}

ul.thumbs li.content .media img {
    max-width: 100%;    
}

@media (max-width: 1080px) {
    .close {
        right: 0 !important;
        top: 7px !important;
    }
    ul.thumbs .media {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 590px) {
    ul.thumbs li {
        width: 100% !important;
    }
    ul.thumbs .media {
        display: none !important;
    }
}
@media (max-width: 700px) and (min-width: 590px) {
    ul.thumbs .media {
        width: 100% !important;
        display: block !important;
        margin-top: 60px;
    }
}

.portfolio-content {
    display: none;
}

.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

/*ul.thumbs li.content p {
    //line-height: 25px; 
    color: #491F27;    
    font-size: 18px;
    //text-align: justify;
    font-weight: 700;
}*/

ul.thumbs li.content .galeria {
    margin-top: 80px;   
    //text-align: center;    
}



.galeria a.fancybox-effects-a img, .galeria a.fancybox-effects-b img, .galeria a.fancybox-effects-c img, .galeria a.fancybox-effects-d img, .galeria a.fancybox-buttons img, .galeria a.fancybox-thumbs img {    
    border: 1px solid #000;      
    //margin-right: 5px;
    margin-bottom: 2px;
    
}

.galeria a.fancybox-effects-a img:hover, .galeria a.fancybox-effects-b img:hover, .galeria a.fancybox-effects-c img:hover, .galeria a.fancybox-effects-d img:hover, .galeria a.fancybox-buttons img:hover, .galeria a.fancybox-thumbs img:hover {
    opacity: 0.8;    
}

ul.thumbs li.content h1{    
    font-size: 48px;
    font-weight: 700;
    color: #491F27;    
}

/*Aqui vou mandar a sequência q os cartões
deve ficar na galeria ok?!
Os q tiverem números com (*) seguinifica:
cartões com acabamento em HOTSTAMP COM PECINHA,
os que tiverem sem será somente: HOTSTAMP COM GLITER.
ISSO DEVERÁ IR NA LEGENDA EM BAIXO DA FOTO!
Eu escolhi o efeito do Desenho técnico com borda branca e a legenda
em baixo. 

56    134    29     123    77   *114
53     23     89     128    40   *119 
50    101    90     129    84     47
133   81   *117    65     62   *115
19     83   *109    66     137   99
100   82     127    67     136   AMOSTRA
1       24   *107    73   *112
2       25     97      74   *110
9       26     122    80   *118
4       27     125    75     46
131 *106   124    76   *113*/

/*      Posts   */

div.posts { background-color: #FFF; padding: 20px; width: 600px; float: left; padding-bottom: 40px; }
div.posts iframe { margin-top: 20px; margin-bottom: 20px; }
div.posts img { margin-top: 20px; margin-bottom: 20px; }
div.posts p { color: #000; font-size: 20px; text-align: left; line-height: 40px; float: left; }
div.posts-titulo { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 70px; line-height: 70px; float: left; }
div.posts-titulo2 { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts-27092014.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 70px; line-height: 70px; float: left; }
div.posts-titulo3 { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts-08102014.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 70px; line-height: 70px; float: left; }
div.posts-titulo4 { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts-20102014.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 70px; line-height: 70px; float: left; }
div.posts-titulo5 { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts-01112014.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 70px; line-height: 70px; float: left; }
div.posts-titulo6 { background: #000 url(../imagens/posts/elementos/caveira-titulo-posts-20112014.png) left no-repeat; padding: 20px; color: #FFF; font-size: 35px; text-align: center; width: 600px; height: 120px; line-height: 60px; float: left; }
div.broche { background: url(../imagens/posts/elementos/broche.png) right no-repeat; width: 300px; height: 508px; float: right; }
div.rodape-posts { background: url(../imagens/posts/elementos/rodape-posts.jpg) center no-repeat; width: 600px; height: 231px; clear: both;  }

div.paginacao-titulo p { text-align: center; clear: both; display: block; width: 600px;  margin-bottom: -20px; color: #E9556A; font-size: 25px; margin-bottom: 10px; }
div.posts2 { padding: 20px; width: 600px; float: left; padding-bottom: 60px; }
div.paginacao { clear: both; display: block; width: 600px; margin-top: 20px; margin-bottom: -40px; color: #E9556A; height: 120px; position: relative; float: right; text-align: center; }
div.paginacao ul { margin-left: 210px; }
div.paginacao ul li { background: url(../imagens/caveira-paginacao.png) right no-repeat; width: 30px; height: 39px; float: left; margin-left: 20px; }
div.paginacao ul li a { color: #E9556A; text-decoration: none; clear: both; display: block; margin-top: 10px; font-size: 15px; }
div.paginacao ul li a:visited { color: #9C293A; }

.instagram { background: url(../imagens/icone_instagram.png) no-repeat; margin: 0 auto; width: 40px; height: 40px; }
//header nav#menu ul li { float: left; margin-right: 15px; background: url(../imagens/caveira.png) right no-repeat; width: 92px; height: 120px; }