/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/02/2014, 15:25:07
    Author     : HELDER
*/

/*  Diretivas gerais */
		@charset "utf-8";
		
	/*  Reset CSS */
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption	{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
		body { line-height:1; }
		ol, ul { list-style:none; }
		blockquote, q {	quotes:none; }
		:focus { outline:0; }
		ins { text-decoration:none; }
		del { text-decoration:line-through; }
		
	/*	HTML5 */
		header, nav, footer, section, article, aside { display:block; font-family:Arial, Helvetica, sans-serif; }
		
	/*  Classes de uso comum */
		.wrapper { width:1000px; margin:0 auto; padding:0 0px; }
		.clear { clear:both; }
		.left { float:left; }
		.right { float:right; }
		.imgLeft { float:left; margin-right:40px; }
		.imgRight { float:right; margin-left:40px; }
		.imgLeft, .imgRight { margin-bottom:30px; }

/*	CSS Sprite */	
		//header h1 a, header h2, footer .logoGPA a{ background:url(../imagem/sprite.png) no-repeat; display:block; }
		//header h1 a, header h2, footer .logoGPA a { text-indent:-99999px; }
               // header h1 a { background: url(../imagens/sprite.png) no-repeat; display: block; }
                //header h1 a { text-indent: -99999px; }
                
                
                /*	Body */
		body { border-top:60px solid #000; background: url(../imagens/fundo_mao.png) 0px 60px; }
                
                
/*	Header */
                
                div#section_home { background: #E9556A url(../imagens/linha_maos_superior.png) center no-repeat; width: 100%; height: 50px; }                                
                header h1 { text-indent: -99999px; }
                header h1#titulo { background: url(../imagens/titulo.png) right no-repeat; width: 677px; height: 332px; }
                header h1 a { background: url(../imagens/home.png) left no-repeat; display: block; width: 981px; height: 603px; margin-top: 60px; margin-left: 20px;}
                //header h1 a#titulo { background: url(../imagens/titulo.png) right no-repeat; display: block; width: 600px; height: 332px; margin-top: 125px; float: right;}
                header nav#redes { clear: both; float: right; }
                header nav#redes ul li { float: right; }
                header nav#redes ul li a { display:block; width:40px; height:40px; text-indent:-99999px; margin-top: -109px; }
                header nav#redes ul li a#instagram { background: url(../imagens/icone_instagram.png) no-repeat; margin-right: 150px; }                
                header nav#redes ul li a#instagram:hover { background: url(../imagens/icone_instagram_hover.png) no-repeat; margin-right: 150px; }                
                header nav#redes ul li a#twitter { background: url(../imagens/icone_twitter.png) no-repeat; margin-right: 100px;}
                header nav#redes ul li a#twitter:hover { background: url(../imagens/icone_twitter_hover.png) no-repeat; margin-right: 100px;}
                header nav#redes ul li a#youtube { background: url(../imagens/icone_youtube.png) no-repeat; margin-right: 50px; }
                header nav#redes ul li a#youtube:hover { background: url(../imagens/icone_youtube_hover.png) no-repeat; margin-right: 50px; }
                header nav#redes ul li a#facebook { background: url(../imagens/icone_facebook.png) no-repeat; margin-right: 0px; }
                header nav#redes ul li a#facebook:hover { background: url(../imagens/icone_facebook_hover.png) no-repeat; margin-right: 0px; }
                
                header nav#menu { position: relative; float: right; margin-right: 0px; margin-top: -200px;}
                header nav#menu ul li { float: left; margin-right: 15px; background: url(../imagens/caveira.png) right no-repeat; width: 92px; height: 120px; }
                header nav#menu ul li a { text-decoration: none; margin-top: 43px; position: absolute; font-size: 40px; text-indent: -99999px; }
                header nav#menu ul li a#home { background: url(../imagens/menu_home.png) right no-repeat; width: 68px; height: 43px; margin-left: 13px; }                
                header nav#menu ul li a#perfil { background: url(../imagens/menu_perfil.png) right no-repeat; width: 81px; height: 41px; margin-left: 5px;}
                header nav#menu ul li a#loja { background: url(../imagens/menu_loja.png) right no-repeat; width: 61px; height: 45px; margin-left: 17px;}
                header nav#menu ul li a#portfolio { background: url(../imagens/menu_portfolio.png) right no-repeat; width: 85px; height: 34px; margin-left: 4px;}
                header nav#menu ul li a#contato { background: url(../imagens/menu_contato.png) right no-repeat; width: 80px; height: 27px; margin-left: 7px;}
                header nav#menu ul li a#anuncie { background: url(../imagens/menu_anuncie.png) right no-repeat; width: 88px; height: 32px; margin-left: 4px;}
                
                section.wrapper { margin-top: 40px; margin-bottom: 20px; }         
                section.wrapper div.texto article { float: left; width: 470px;  text-align: justify; margin-left: 25px;}
                section.wrapper div.texto article h3 { font-size: 20px; font-weight: bold;  }
                
                
                
/*	Footer */       
              
                footer { background-color: #E9556A; padding-top: 35px; margin-bottom: 0px; }                
                footer address { font-size: 14px; color: #FFF; line-height: 20px; clear: both;  padding-top: 10px; margin-left: 20px;}
                footer div#assinatura_rodape { background: url(../imagens/assinatura_rodape.png) right no-repeat; height: 41px; width: 180px; float: right; margin-top: -60px; margin-right: 70px;}
                footer p { font-size: 12px; color: #FFF; float: right; margin-right: 60px; margin-top: -15px; }
                //footer div { background: #E9556A url(../imagens/cartoon_rodape.png) right no-repeat ; height: 59px; width: 35px; }
                footer div#cartoon_rodape { background: #E9556A url(../imagens/cartoon_rodape.png) right no-repeat ; height: 59px; width: 35px; float: right; margin-right: 20px; margin-top: -59px;}